//* IMPORTS

@use '../global/vars';
@use '../global/mixins';

@use './card-template';

.ratiosContainer {
  display: none;

  .likesIcon,
  .photosIcon {
    width: vars.$spacing-xl * 2;
    height: vars.$spacing-xl * 2;
  }

  .numberContainer {
    @include mixins.flex-box();
    width: vars.$spacing-xl;
    height: vars.$spacing-xl;

    padding: 2px;
    background-color: vars.$tertiary-color;
    border: 2px solid vars.$primary-color;
    border-radius: 50%;

    transform: translate(-10px, 15px);

    .numberP {
      font-family: vars.$font-secondary;
      font-size: vars.$p-number;
      color: vars.$primary-color;
    }
  }
}

.card:hover .ratiosContainer {
  @include mixins.flex-box();

  position: absolute;
  top: vars.$spacing-xs;
  z-index: 2;

  transition: all 0.3s ease-in-out;

  &:nth-child(odd) {
    left: vars.$spacing-m;
  }

  &:nth-child(even) {
    flex-direction: row-reverse;
    right: vars.$spacing-m;

    .numberContainer {
      transform: translate(10px, 15px);
    }
  }

  .ratiosIcon {
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      transform: scale(1.3);
    }
  }
}

.userInfoContainer {
  display: none;
}

.card:hover .userInfoContainer {
  @include mixins.flex-box($jc: space-evenly);
  padding: vars.$spacing-xxs;

  position: absolute;
  width: 100%;
  bottom: vars.$spacing-xs;
  left: -5px;
  z-index: 2;

  background-color: #cacaca50;
  border-radius: vars.$border-radius-l;
  cursor: pointer;

  transition: all 0.3s ease-in-out;

  .userName,
  .userDateP {
    font-size: vars.$card-text-font-size;
    color: vars.$tertiary-color;
    text-shadow: -2px 2px 10px vars.$primary-color;
  }

  &:hover {
    background-color: #c89393e0;
  }
}

.userDateDiv {
  @include mixins.flex-box();
}

.userImg {
  width: vars.$spacing-xl * 2;
  height: vars.$spacing-xl * 2;

  border: 2px solid vars.$logo-color;
  border-radius: vars.$border-radius-l;
}

.uploadedIcon {
  width: vars.$spacing-m;
  height: vars.$spacing-m;

  margin-right: vars.$spacing-xxs;
}
